@font-face {
  font-family: 'Dune Rise';
  src: url('../font/Dune_Rise.woff2') format('woff2'),
    url('../font/Dune_Rise.woff') format('woff'),
    url('../font/Dune_Rise.ttf') format('truetype'),
    url('../font/Dune_Rise.svg#Dune_Rise') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ROBOTECH GP';
  src: url('../font/ROBOTECHGP.woff2') format('woff2'),
    url('../font/ROBOTECHGP.woff') format('woff'),
    url('../font/ROBOTECHGP.ttf') format('truetype'),
    url('../font/ROBOTECHGP.svg#ROBOTECHGP') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* =========================== */

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Dune Rise', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #ffffff;
}

.img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

a,
.button {
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: #282c35;
  text-decoration: none;
}

a,
button {
  color: #282c35;
  outline: medium none;
  font-family: 'Cabin', sans-serif;
  font-size: 1.6rem;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dune Rise', sans-serif;
  font-weight: normal;
  color: #ffffff;
  margin-top: 0rem;
  font-style: normal;
  font-weight: 400;
  text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 500;
}

h2 {
  font-size: 2.8rem;
  line-height: 1;
  font-weight: 500;
}

h3 {
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 500;
}

h4 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 400;
}

h5 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
}

.subtitle {
  font-size: 1.6rem;
  line-height: 1.9;
  font-weight: 500;
}

ul {
  margin: 0rem;
  padding: 0rem;
}

li {
  list-style: none !important;
  margin-right: 0rem;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #ffffff;
  font-family: 'ROBOTECH GP', sans-serif;
}

a {
  text-decoration: none !important;
}

hr {
  border-bottom: 0.1rem solid #efefef;
  border-top: 0 none;
  margin: 1.8rem 0 1.7rem;
  padding: 0;
}

label {
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
}

.g-custom-50 {
  --bs-gutter-x: 5rem;
  --bs-gutter-y: 5rem;
}

.g-custom-40 {
  --bs-gutter-x: 4rem;
  --bs-gutter-y: 4rem;
}

*::-moz-selection {
  background: #282c35;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #282c35;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #282c35;
  color: #fff;
  text-shadow: none;
}

*::-moz-placeholder {
  color: #555555;
  font-size: 1.4rem;
  opacity: 1;
}

*::placeholder {
  color: #efefef;
  font-size: 1.4rem;
  opacity: 1;
}

span {
  display: inline-block;
  color: inherit;
}

/* ================= */
.prallex-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 100%;
}
/* ======================= */

/* ================ */
.product-link-section {
  height: 105vh;
  width: 100%;
}
.prallex-image-box {
  position: absolute;
  top: -53px;
  left: 0;
  width: 100%;
  height: 105vh;
  overflow: hidden;
}
.prallex-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prallex-product-contbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.list--product-box {
  width: 100%;
}
.list--product-box .product-list-items-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list--product-box .product-list-items-box:not(:last-child) {
  margin-bottom: 55px;
}
.list--product-box .product-list-items-box .product-list-details {
  max-width: 33.33%;
  width: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.list--product-box .product-list-items-box .product-list-details img {
  transition: all 450ms ease-in 0s;
}
.list--product-box .product-list-items-box .product-list-details h2 {
  margin-bottom: 15px;
  color: #ffffff;
  transition: all 450ms ease-in 0s;
}
.list--product-box
  .product-list-items-box:nth-child(1)
  .product-list-details:nth-child(2) {
  top: -120px;
}
.list--product-box
  .product-list-items-box:nth-child(2)
  .product-list-details:first-child {
  left: -120px;
}
.list--product-box
  .product-list-items-box:nth-child(2)
  .product-list-details:last-child {
  right: -120px;
}
.list--product-box
  .product-list-items-box:last-child
  .product-list-details:nth-child(2) {
  bottom: -120px;
}

.list--product-box .product-list-items-box .product-list-details .button-box {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
  transition: all 400ms ease-in 0s;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.list--product-box
  .product-list-items-box
  .product-list-details:hover
  .button-box {
  opacity: 1;
  visibility: visible;
}
.list--product-box .product-list-items-box .product-list-details:hover img,
.list--product-box .product-list-items-box .product-list-details:hover h2 {
  opacity: 0.5;
}
.list--product-box
  .product-list-items-box
  .product-list-details
  .button-box
  .btn--style {
  max-width: 110px;
  width: 100%;
  background: #919da9;
  border: 0;
  font-family: 'Dune Rise', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 38px;
  color: #fff;
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

/* ================= */
.product--branding-video{
  height: 100vh;
  position: relative;
}
.back-video{
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 0;
  z-index: -1;
  height: 100vh;
}
@media (min-aspect-ration: 16/9) {
  .back-video{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ration: 16/9) {
  .back-video{
    width: auto;
    height: 100%;
  }
}